.title-name{
    font-family: 'Gluten';
}

.mb-3{
    width: 25%;
    margin-left: auto;
    margin-right: auto;
    font-family: 'Gluten';
}

.d-grid{
    font-family: 'Gluten';
    width: 12.5%;
    margin-left: auto;
    margin-right: auto;
}

.gator-image{
    width: auto;
    height: 22.5vh;
    
}

.forgot-password{
    font-family: 'Gluten';
}

.user-info{
    font-family: 'Gluten';
}

/*Code below is for the game page*/

#gamepagediv{
    display: block;
    width: 65%;
    margin-left: auto;
    margin-right: auto;
    padding-Top: 50px;
    font-family: "Gluten";
}

.bannerSpacer{
    padding-bottom: 20px;
}

#gametitle{
    padding-bottom: 50px;
    color: #2613fe;
    text-decoration: underline;
    font-size: 40px;    
}

#tableDiv{
    padding-left: 32vw;
    padding-top: 25px;
}

#search{
    border-radius: 5px;
    background-color: #e8effa;
}

#search-2{
    border-radius: 5px;
    background-color: #e8effa;
}

#email{
    border-radius: 5px;
    background-color: #e8effa;
}

#password{
    border-radius: 5px;
    margin-left: 2px;
    background-color: #e8effa;
}

#search-4{
    border-radius: 5px;
    background-color: #e8effa;
}

#key{
    border-radius: 5px;
    background-color: #e8effa;
}

.button{
    border-radius: 5px;
    border: none;
    height: 30px;
    width: auto;
    margin-left: 3px;
    background-color: #2078fc;
    color: white;
}