.gradient-custom {
  /* fallback for old browsers */
  background: rgb(38, 19, 254);  
  
  /* Chrome 10-25, Safari 5.1-6 */
  background: -webkit-linear-gradient(to right bottom, rgba(38, 19, 254, 5), rgba(126, 183, 244, 1));
  
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  background: linear-gradient(to right bottom, rgba(38, 19, 254, 5), rgb(126, 183, 244))
}